* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	.user-select(none);
}

.center() {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); 
}

.filter(@value) {
  filter: @value;
  -o-filter: @value;
  -ms-filter: @value;
  -moz-filter: @value;
  -webkit-filter: @value;
}

.user-select(@value) {
	user-select: @value;
	-o-user-select: @value;
	-moz-user-select: @value;
	-khtml-user-select: @value;
	-webkit-user-select: @value;
}

sky, ground {
	display: block;
}

@sky-height: 50vh;
@sky-color: #1D70B2;
@night-color: black;
@twilight-color: orangered;
sky {
	top: 0%;
	width: 100%;
	position: fixed;
	height: @sky-height;
	overflow: hidden;
	background: @sky-color;

	&.night {
		background: @night-color;
	}
	&.twilight {
		background: @twilight-color;
	}
}

.season(@color) {
	background: @color;

	&.night {
		background: darken(@color, 25%);
	}
	&.twilight {
		background: darken(@color, 10%);
	}
}
@ground-color: #92CC13;
ground {
	position: fixed;
	top: 50%;
	width: 100%;
	height: 100vh - @sky-height;
	background: @ground-color;

	.season(@ground-color);

	&.summer {
		.season(yellow);
	}

	&.autumn {
		.season(orange);
	}

	&.winter {
		.season(white);
	}
}

@egg-color: #FFFFEE;
@egg-border: lighten(black, 50%);
@egg-height: 300px;
@egg-width: @egg-height * 2/3;

egg {
   .center;
   display: block;
   width: @egg-width;
   height: @egg-height;
   background-color: @egg-color;
   border-radius: 50% ~"/" 60% 60% 40% 40%;
   border: medium solid @egg-border;
   overflow: hidden;

   	&.night {
		background: mix(@egg-color, @night-color, 75%);
	}
	&.twilight {
		background: mix(@egg-color, @twilight-color, 75%);
	}
}

egg crack {
	display: inline-block;
	border-left: 2px solid @egg-border;
	@crack-size: @egg-width / 6;
	height: sqrt(2  * @crack-size * @crack-size);
	width: 0;
	margin-top: @egg-height * .6;
	transform-origin: 0 0;
	margin-right: @crack-size - 2;

	&:nth-child(even) {
		transform: translate(@crack-size) rotate(45deg);
	}
	&:nth-child(odd) {
		transform: rotate(-45deg);
	}
}

.nugget {
	.center;
	display: block;
	max-height: @egg-height;
	max-width: @egg-height;
	&.night {
		.filter(brightness(75%));
	}

	&.twilight {
		.filter(brightness(90%));
	}
}

.sky-object() {

}

sun, moon {
	.center;
	display: block;
	.sky-object;
	width: 30vh;
	height: 30vh;
	top: 0%;
}

moon {
	.sky-object;
	width: 15vh;
	height: 15vh;
	top: 100%;

	fill: lightgrey;
}

.blur {
	.filter(blur(5px));
}

sun {
	fill: orange;
	stroke: orange;
	stroke-dasharray: .5;
	stroke-dashoffset: 0%;
	stroke-width: 10;
}

svg {
	width: 100%;
	height: 100%;
}